In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# data preprocessing
import nltk
nltk.download('stopwords')
nltk.download('punkt')
import string
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.tokenize import sent_tokenize, word_tokenize
import re
from collections import Counter
from wordcloud import WordCloud
from sklearn.preprocessing import LabelEncoder
# Model Building
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [2]:
data = pd.read_csv("spam.csv",encoding='latin1')
data.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
2729,spam,Urgent! Please call 09066612661 from your land...,NaN,NaN,NaN
2428,ham,She.s find. I sent you an offline message to k...,NaN,NaN,NaN
5005,ham,ILL B DOWN SOON,NaN,NaN,NaN
941,ham,Theyre doing it to lots of places. Only hospit...,NaN,NaN,NaN
4820,ham,Im good! I have been thinking about you...,NaN,NaN,NaN

In [3]:
data.drop(columns = ["Unnamed: 2","Unnamed: 3","Unnamed: 4"], inplace = True)
data.head(5)

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
data.rename(columns = {"v1":'result', 'v2':'emails'}, inplace = True)

In [5]:
data.isnull().sum()

result    0
emails    0
dtype: int64

In [6]:
data.duplicated().sum()

403

In [7]:
data = data.drop_duplicates(keep='first')

In [8]:
data.shape

(5169, 2)

In [9]:
data.head(5)

  result                                             emails
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [10]:
data['result'].value_counts()

result
ham     4516
spam     653
Name: count, dtype: int64